html,
body,
.container{
  height: 100%;
}

*,*::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  line-height: 1.5em;
  @extend %font;
}

img{
  max-width:100%;
}

input{
  @extend %font;
  &:focus{
    outline: 1px solid $red;
  }
}

button{
  @extend %font;
  cursor: pointer;
  width: 100%;
  background: $red;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  border: none;
  &:focus{
    outline: 1px dashed #000;
  }
}

select{
  @extend %font;
  border: 1px solid #dedede;
  &:focus{
    outline: 1px solid $red;
  }
}


input[type="text"]{
  width:100%;
  border:1px solid #dedede;
  height:45px;
  padding: 5px;
  line-height: 35px;
}
