.map {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  img {
    max-width: 999999999px;
  }


  &-overlay {
    position: absolute;
    z-index: 2;
    width: 300px;
    right: 20px;
    top: 80px;
    display: none;
    max-height: 90%;
    max-height: calc(100% - 160px);
    padding-top: 140px;

    &__month-select,
    &__year-select
    {
      width: 50%;
      width:calc(50% - 5px);
      float: left;
      margin-top:10px;
    }

    &__year-select{
      margin-right: 10px;
    }

    &__button{
      margin-top: 10px;
    }



    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      background: #fff;
      height: 150px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: transparent transparent #fff transparent;
      right:6px;
    }
    &--show {
      display: flex;
      flex-direction: column; // fixes firefox bug where __police-data wasn't going to 100% height
    }
    &__search {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 10px;
    }
    &__police-data {
      background: #fff;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      width: 100%;
      overflow: auto;

      &--closing{
        .map-overlay__police-data__section{
          transition-delay: 0s;
        }
      }

      &__total{
        padding: 10px 5px;
      }

      &__section {
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
        transition-delay: 0.3s;
        position: relative;
        padding: 5px 0 5px 40px;
        cursor: pointer;
        // &::before,
        // &::after {
        //   content: "";
        //   display: block;
        //   position: absolute;
        //   left: 10px;
        //   width: 20px;
        //   top: 5px;
        //   bottom: 5px;
        // }
        // &::before {
        //   background: #efefef;
        // }
        // &::after {
        //   background: $red;
        //   opacity: 0;
        // }
        // &--active {
        //   &::before {
        //     opacity: 0;
        //   }
        //   &::after {
        //     opacity: 1;
        //   }
        // }
        
        span{
          background: #efefef;
          position: absolute;
          left:10px;
          width: 20px;
          top:5px;
          bottom:5px;
          display:block;
        }
      }
      &--show {
        transform: scaleY(1);
        .map-overlay__police-data__section {
          opacity: 1;
        }
      }
    }

    &__input-status{
      position: absolute;
      right:10px;
      height:45px;
      width:45px;
      top:0;
    }
  }
  &-overlay-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background: none;
    border: none;
    width: auto;
    height: 45px;

    &:focus{
      outline: none;
    }
    svg {
      width: 20px;
    }

    &:hover,
    &--open{
      .map-overlay-toggle__icon{
      &--active{
      display: block;
      }
      &--default{
        display: none;
      }
    }
    }

    &__icon{
      &--active{
        display: none;
        fill:$red;
      }


    }

  }
}
