.map-filter {
  display: none;
  background: #fff;
  // box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

  &__items {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;

    &__label {
      display: block;

      &::before {
        content: '';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background: var(--color);
        vertical-align: middle;
      }

    }

    &__input {

      &:checked + .map-filter__item__fake-checkbox {
        background: red;
      }

    }

    &__fake-checkbox {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      border: 2px solid #fff;
      background: #fff;
    }

  }

  &--show {
    display: block;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

}

